<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multlock.key"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/multilock"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.multlock.key.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.multlock.key.SecPage"
            android:label="Security Test Page" >
        </activity>
        <activity
            android:name="com.multlock.key.KeyList"
            android:label="Users / Keys" >
        </activity>
        <activity
            android:name="com.multlock.key.getErrors"
            android:label="Device Errors" >
        </activity>        
        <service
            android:enabled="true" android:exported="true" android:launchMode="singleInstance" android:name="com.multlock.key.BluetoothLeService" />
		<receiver android:name="com.multlock.key.StartupIntentReceiver"  android:enabled="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
		  <intent-filter>
		      <action android:name="android.intent.action.BOOT_COMPLETED">
		      <category android:name="android.intent.category.DEFAULT"/> 
		      </action>
		  </intent-filter>
		</receiver>
    </application>

</manifest>
